<h1>Manage your codes</h1>

<h3>Worker files to upload</h3>
<table border="1">
  <thead>
  <tr>
    <td>File Name</td>
    <td>Action</td>
  </tr>
  </thead>

  <% @files.each do |f| %>
      <tr>
        <td><%= File.basename(f) %></td>
        <td><%= button_to "Upload file",codes_path(:filename => f) %></td>
  <% end %>
</table>

<h3>List of existed codes:</h3>
<% if !@codes.empty? %>
    <table border="1">
      <thead>
      <tr>
        <td>Code Name</td>
        <td>Created at</td>
        <td>Latest change</td>
        <td>Revision</td>
        <td>Actions</td>
        <td>Queue!</td>
        <td>Schedule!</td>
      </tr>
      </thead>

      <% @codes.each do |c| %>
          <tr>
            <td><%= c.name %></td>
            <td><%= c.created_at %></td>
            <td><%= c.latest_change %></td>
            <td><%= c.rev %></td>
            <td>
              <%= link_to "Revisions", revisions_code_path(c.id) %>
              <%= link_to "Download", download_code_path(c.id) %>
            </td>
            <td><%= button_to "Queue!", tasks_path(:worker_name => c.name) %></td>
            <td><%= button_to "Schedule!", schedules_path(:worker_name => c.name, :seconds => 10) %></td>
          </tr>
      <% end %>
    </table>
<% else %>
    <h5>There are now any codes uploaded, feel free to upload new one</h5>
<% end %>


<%= link_to "Back", root_path %>