<h1>Revisions</h1>
<table class="table table-bordered table-hover table-condensed">
  <thead>
  <tr>
    <th>Code Name</th>
    <th>Created at</th>
    <th>Revision</th>
    <th>Runtime</th>
  </tr>
  </thead>

  <% @revisions.each do |revision| %>
      <tr>
        <td><%= revision.name %></td>
        <td><%= revision.created_at %></td>
        <td><%= revision.rev %></td>
        <td><%= revision.runtime %></td>
      </tr>
  <% end %>
</table>

</br>
<%= link_to :back %>